*{
    padding: 0;
    margin: 0;
}

h1{
    background-image: linear-gradient(90deg, #412785 45%, #be355e 100%);
    color: #fff;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.choices{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 30vh;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.choice{
    width: 110px;
    height: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;
    border-radius: 80px;
    
}
.choice:hover{
    cursor: pointer;
    background-image: linear-gradient(90deg, #412785 50%, #be355e 100%);
    
}
.choice img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.score-board{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* font-size: 2rem; */
    margin-top: 20px;
    gap: 6rem;
}
#user-score, #comp-score{
    font-size: 4rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.score img{
    width: 50px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.msg-container{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
    align-items: center;  
}

#msg{
    background-color: #412785;
    color: #fff;
    font-size: 2rem;
    padding: 5px; 
    display: inline;
    border-radius: 8px;
}

footer{
    width: 18%;
    text-align: center;
    margin-top: 4.8rem;
}

